body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header,
.hero, footer{
    background-color: #1F2937;   
   
}
.hero{
    /* border: 5px solid red; */
    display: flex;
    justify-content:space-around;
    flex:1;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size:xx-large;

}

.body {
    /* border: 5px solid red; */
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;

}
.Container{
    /* border: 5px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}

.cards{
    /* border: 5px solid purple; */
    display: flex;
    /* justify-content: space-around; */
    gap:35px;
    text-align: center;
    flex-wrap: wrap;
}

.card{
    /* border: 5px solid red; */
}

img {
    width: 90px;
    height: 90px;
}

.cards img{
    height:150px;
    width:150px;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.info{
    display: flex;
    /* padding: 20px; */
    font-size: 40px;
    font-weight: bold;
    color: #1F2937;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
    text-align: center;
    color:white;
    padding: 20px;
}

.scores{
    /* border: 5px solid green; */
    display:flex;
    align-items: center;
    gap:55px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* display: inline-block; */
}
.Scoreshead, 
.Resultshead,.scores p{
    /* border: 5px solid yellow;
    display: flex;
    padding-left: 50px;
    padding-right: 50px; */
    display: flex;
    /* padding: 20px; */
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
    /* justify-content: flex-end; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#finalresult{
    display: flex;
    font-size: 35px;
    font-weight: bold;
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}